@charset "UTF-8";
/* CSS Document */

body {
	background-image: url(../images/bkg.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    font-family: 'Lato', sans-serif;
}

a {
    color: #fff;
    text-decoration: none !important;
}

a:hover {
    color: #fff;
    text-decoration: underline !important;
}

.btn-cotizador a:hover {
    color: #fff;
    text-decoration: none !important;
}

.btn-cotizador2 a:hover {
    color: #fff;
    text-decoration: none !important;
}

h1 {
    font-weight: 900;
}

header {
    background-image: url(../images/header.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    height: 500px;
}

.bg-dark {
    background-color: transparent!important;
}

.navbar-brand {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.nav-item {
    font-weight: 400;
    font-size: .9em;
    margin-right: 30px;
}

.logo {
    width: 100px;
}

.section2 {
    background-color: #0D183C ;
    color: #fff;
}

.ingeniero {
    background-image: url(../images/ingeniero.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.btn-cotizador {
    position: relative;
    top: 20px;
    background-color: #E50000;
    padding: 20px;
    font-weight: 900;
}

.btn-cotizador2 {
    position: relative;
    bottom: -20px;
    background-color: #E50000;
    padding: 20px;
    font-weight: 900;
    bottom: -20px;
}

.txt-btn {
  margin-bottom: 5px;
}

.section3 {
    color: #fff;
}

.ventana {
    background-color: #fff;
    border-radius: 20px;
}

.mensaje-fester {
    background-color: rgba(219,219,219,1.00);
    color: #000;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 7px 15px 7px 15px;
    
}

.btn-group-sm>.btn, .btn-sm {
    border-radius: .5rem;
    margin: 5px;
}

.form-control {
    border-radius: .8rem;
}

footer {
   background-image: url(../images/footer.png);
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
    color: #fff;
    font-size: .8em;
    padding-left: 40px;
    padding-top: 105px;
    padding-bottom: 35px;
}

@media screen and (max-width: 992px) {
  .navbar-brand {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    


}